.container {
    padding: "2.5rem";
    max-width: "600px";
    /* height: '500px'; */
    margin: "6rem auto";
    background-color: "rgba(50, 50, 50, 0.9)";
    color: "#fff";
    border-radius: "10px";
    box-shadow: "0 10px 20px rgba(0, 0, 0, 0.6)";
    text-align: "center";
    line-height: "1.8";
}

.back-arrow-learning {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #4CAF50;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
    transition: color 0.3s ease;
}

.back-arrow-learning:hover {
    color: #81C784;
}


@media (max-width: 756px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 800px) {
    h1, h2 {
        color: #4CAF50;
        font-size: 0.9rem;
        letter-spacing: -1px;
        word-spacing: -15px;
        line-height: 1.5;
    }
    p {
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: -2px;
        word-spacing: -1px;
    }
    button {
        font-size: 0.9rem;
        letter-spacing: -0.3px;
    }
}