body {
    background-color: #111;
    margin: 0;
    color: #fff;
}

.profile-play-btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    color: #fff;
    background: linear-gradient(45deg, #4CAF50, #32a852);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.settings-icon i {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.settings-icon:hover i {
    transform: rotate(45deg) scale(1.2);
    color: #32a852;
}

.profile-play-btn:hover {
    background: linear-gradient(45deg, #32a852, #4CAF50);
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.7);
    transform: scale(1.05);
}

.profile-play-btn {
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 128, 0.2);
}

.bi {
    transition: transform 0.3s ease;
}

.bi:hover {
    transform: scale(1.1);
}

.stats-grid div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stats-grid div:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(76, 175, 80, 0.3);
}

@media (max-width: 768px) {
    .settings-icon, .back-arrow {
        top: 3rem !important;
    }

    .stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1.5rem;
    }

    .accuracy-item {
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 1rem;
    }

}